{% extends '::base.html.twig' %}
{% block body %}
    <div class="alert alert-danger" style="margin-top: 10px;">
        <p><strong>Access Denied!! </strong> You don´t have access to this resource. Please contact the application administrator for more details...</p>
    </div>
{% endblock %}