
		<div class="btn-group">
			<a href="#" class="btn btn-default" aria-expanded="false">Students</a>
		</div>

        <div class="btn-group">
            <a href="#" class="btn btn-default" aria-expanded="false">Programs</a>
        </div>

        <div class="btn-group">
            <a href="#" class="btn btn-default" aria-expanded="false">Schedules</a>
        </div>

        <div class="btn-group">
            <a href="#" class="btn btn-default" aria-expanded="false">Lockers</a>
        </div>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Reports</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" title="Nuevo banner">Report 1</a></li>
				<li><a href="#" title="Nueva Oferta">Report 2</a></li>
			</ul>
		</div>

