{% extends '@Roster/Form/index-layout.html.twig' %}

{% block confirm_delete %}Confirm deleting this locker?{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Es hora de trabajar!</h1>
            <p>El contacto es la herramienta importante... <strong class="text-primary">entre ellos y nosostros!</strong>
                <a href="{{ path('locker_new') }}" class="btn btn-default active pull-right text-normal"><span class="glyphicon glyphicon-plus"></span> Add Locker</a></p>
        </div>
    </div>
{% endblock %}

{% block table_header %}
    <th>Name</th>
    <th>Busy</th>
    <th></th>
{% endblock %}

{% block table_body %}
    <td>{{ entity }}</td>
    <td>
        {% if entity.student %}
            {{ entity.student }}
        {% else %}
            Free Locker
        {% endif %}
    </td>
{% endblock %}

{% block paginationText %}Lockers{% endblock %}